
    .Modal {
        display: none;
        position: absolute;
        z-index: 500;
        background-color: white;
        width: 80vw;
        min-width:700px;
        margin-left: 10vw;
        margin-right: 10vw;
        height: 250px;
        /* border: 1px solid #ccc; */
        /* box-shadow: 1px 1px 1px black; */
        padding: 20px;
        left: 20vw;
        top: 10vh;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
    }
    
    @media (max-width: 420px) {
        .Modal {
            width: 90%; 
        }
    }
    @media (max-height: 570px) {
        .Modal {
            height: 540px;
            top: 10px;
        }
    }
