.App {
  text-align: center;
  .cards{
    display: flex;
    
  .card {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    height: 80px;
  }
}

.btn {
  margin: 10px;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}
}

